@font-face {
    font-family: katype;
    src: url("../Fonts/Katype Scribe.ttf");
}

@font-face {
    font-family: cabin;
    src: url("../Fonts/Cabin Condensed.ttf");
}

body {
    font-family: cabin;
}